.nav-bar{
    backdrop-filter: blur(0.6rem);
    background: hsla(0,0%,5%,.329);
    border: 0.5px solid hsla(0,0%,100%,.064);
    border-radius: 3.8rem;
    bottom: 1rem;
    box-shadow: 5px 5px 5px rgb(3 3 3 / 100%);
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 52rem;
    z-index: 10;
}

.menu a {
    color: white;
    display: block;
    font-weight: bold;
    height: 60px;
    text-decoration: none;
    padding: 18px;
    cursor: pointer;
}

.menu{
    width: auto;
    height: auto;
    transform: translateY(0%);
    float: right;
    display: flex;
}
    


