.about-me{
    background: transparent;
    min-height: 100vh;
}

.section-about-me{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    perspective: 5000px;
}



.letters-about-section{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight:bold;
    margin-bottom: 30px;
    margin-left: 30px;
}

.container-card{
    background: gray;
    border: 3px solid black;
    border-radius: 5px;
    height: 408px;
    width: 297px;
}


.btn-about-me button{
    background: none;
    border-radius: 30px;
    border: 1px solid white ;
    color: white;
    height: 35px;
    margin-left: 100px;
    margin-top: 25px;
    outline: none;
    cursor: pointer;
    width: 120px;
}

.card-about-me h2{
    margin-top: 30px;
}

#btn-about-me button{
    margin-top: 230px;
}

.list-container{
    display: flex;
    margin-left: 50px;
}

.list-container p{
    display: block;
    white-space:nowrap;
    border-right: 4px solid;
    width: 26ch;

    animation:infinite typing 9s  steps(22), 
blink .5s infinite step-end alternate ;
     overflow:hidden;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

.list-skill li {
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    line-height: 40px;
    list-style: none;
    margin-left: -30px;
}

#skill-dev{
    margin-bottom: 20px;
}

@media(max-width:1024px){
    .card-about-me h2{
        margin-top: 10px;
    } 
 }

@media(max-width:1024px){
   .list-container p{
    margin-left: -40px;
    margin-top: 55px;
    font-size: 10px;
   }  
}

.list-hobbies {
    color: white;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 50px;
    list-style: none;
    margin-left: -25px;
    margin-bottom: 15px;
    margin-top: 10px;
}  

@media(max-width:1024px){
    .list-hobbies {
        color: white;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 20px;
        list-style: none;
        margin-left: -25px;
        margin-bottom: 1px;
        margin-top: 10px;
    }  
}

@media(max-width:1024px){
    .list-skill{
     color: white;
     font-size: 15px;
     margin-left: -25px;
     list-style: none;
     margin-bottom: -20px;
    }
 }

@media(max-width:1024px){
   .btn-about-me button{
    width: 10px;
    height: 10px;
   }
}


#card-about-me3{
    background: rgb(61, 199, 148);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(153, 246, 212);
    height: 400px;
    position: absolute;
    width: 290px;
    transition: all 1s;
    transform: rotate(0deg);

    transform-style:preserve-3d;
}

#card-about-me3:hover{
    color: black;
    box-shadow:  1px 1px 5px  rgb(3, 189, 154);
    transform: rotateY(360deg);
   
}


#card-about-me1{
    background: rgb(61, 199, 148);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(153, 246, 212);
    height: 400px;
    width: 290px;
    transition: all 1s;
    transform: rotateX(30deg);

    transform-style:preserve-3d;
}

#card-about-me1:hover{
    transform: rotateY(160deg);
}

#card-about-me2{
    background: rgb(61, 199, 148);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(153, 246, 212);
    height: 400px;
    margin-right: 80px;
    margin-top: 200px;
    width: 300px;
    transition: all 1s;
    transform: rotate(30deg);

    transform-style:preserve-3d;
}

#card-about-me2:hover{
    transform: rotateY(360deg);
}



@media(max-width:1024px){
    .letters-about-section{
        display:initial;
        justify-content: center;
        font-size: 15px;
    }
}

@media(max-width:1024px){
    .section-about-me{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1024px){
    #card-about-me1{
        height: 200px;
        margin-bottom: 30px;
        margin-left: 20px;
        width: 150px
    }
}
@media(max-width:1024px){
    #card-about-me2{
        height: 200px;
        margin-left: 80px;
        margin-top: -20px;
        width: 150px;      
    }
}
@media(max-width:1024px){
    #card-about-me3{
        height: 200px;
        margin-left: 200px;
        margin-top: 10px;
        width: 150px;
    }
}

@media(max-width:1024px){
    .btn-about-me button{
        height: 30px;
        margin-left: 40px;
        width: 80px;
    }
}

@media(max-width:1024px){
    .container-card{
        background: none;
        border:none;
        border-radius: none;
        height: none;
        width: none;
    }
}