@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800;900&family=Open+Sans:wght@300&family=Roboto&family=Titillium+Web:wght@300&family=Work+Sans&display=swap');





body {
    font-family:'Roboto', sans-serif; 
    background:rgb(33, 36, 40);
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.letters-head-section{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    font-weight:bold;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 50px;
    text-align: start !important;
}

@media(max-width:1024px){
    .letters-head-section{
        font-size: 25px;
    }
}

hr{
    background-color: rgb(3, 189, 154);
    border:none;
    border-top:1px dashed rgb(3, 189, 154);
    color:rgb(3, 189, 154);
    margin-top: 5px;
    width:100%;
 }
      